.home-idea-boxes {
  height: 325px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
  background-color: $color-background;
}
.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  text-align: center;
  max-width: 250px;

  .home-idea-actions {
    font-size: 18px;
  }

  .home-idea-text {
    font-size: 16px;
  }
  .border {
    border: 1px solid #707070;
    width: 70px;
    font-weight: 300;
  }
}

.home-idea-icone {
}
.home-idea-actions {
}
.home-idea-text {
}
