.home-idea-boxes {
  height: 325px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: $color-background;
}
.box {
  text-align: center;
}
.home-idea-icone {
}
.home-idea-actions {
}
.home-idea-text {
}
