@import "../settings/colors";

.loginNav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 3rem;
  margin: 0;
  margin-right: 14rem;
  padding: 3rem 0;
  a {
    color: $color-grey-light;
  }

  .active {
    border: 1px solid $color-yellow;
    padding: 0.8rem 1rem;
  }
}

.navigationList {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 5.5rem;
  list-style: none;
  margin: 0;
  margin-right: 14rem;

  a {
    color: $color-grey-dark;
  }
}
