.navigationList {
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 0.5rem;
  list-style: none;
  margin: 0;
  margin-right: 14rem;

  a {
    color: $color-grey-dark;
  }
}
